.language-title{
    text-align: center;
    color: var(--primary-color);
}
.language-info{
    color: var(--extra-color);
    text-align: justify;
}
@media (max-width: 768px){
    .language-title{
        line-height: 1em;
    }
    .language-info{
        text-align: left;
    }
}