.change-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-container{    
    font-size: 1rem;
    position: relative;
    display: block;
    width: 100%;
    padding: 30px;
    margin: 0px;
    border-radius: 7px;
    box-shadow: 0 0 10px 0px rgb(53, 53, 53);
    background-color: #363535;
}

.change-form{
    font-size: 1rem;
    position: relative;
    max-width: 100%;
    display: block;
    width: 100%;
    margin: 0px;
}

.link{
    margin-left: 5px;
    text-decoration: none;
    color: var(--extra-color);
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.change-title{
  text-align: left;
  padding: 0em;
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2em;
}

.login-subtitle{
    text-align: left;
    padding: 0em;
    margin-top: 10px;
    color: var(--secundary-color);
    font-weight: 500;
    font-size: 1em;
}

@media (min-width: 769px) {
    .page-container {
        margin-top: 3%;
        min-width: 380px;
        max-width: 520px;
    }
  }

@media (max-width: 768px){
    .page-container{
        margin-top: 10%;
        max-width: 70%;
        max-height: 100%;
    }
}