@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-LightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}



:root {
  font-family: ubuntu, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding-top: 2%;
}