.exercise-info{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    margin: 30px 0 30px 0;
    padding: 30px;
}
.link-languaje{
    width: 30%;
    min-width: 150px;
    display: flex;
    align-items: center;
}
.link-languaje a{
    margin-right: 15px;
}

.link-languaje p{
    color: var(--primary-color);
}

.link-exercise{
    margin-right: 20px;
}

.link-exercise a{
    text-decoration: none;
}

.link-exercise h2{
    color: var(--extra-color);
}

.exercise-statement{
    color: var(--secundary-color);
    text-align: justify;
}

.exercise-footer{
    width: 100%;
    display: inline-flex;
}

.link-exercise h5{
    color: var(--extra-color);
}

.exercise-creationDate{
    color: var(--secundary-color);
}

.exercise-button{
    width: 100%;
    display: flex;
    justify-content: right;
}

.exercise-button button{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    border: solid 3px var(--secundary-color);
    font-size: 1.2em;
    padding: .8em 1em .8em;
    border-radius: 110px;
    min-width: 40px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.exercise-button button:hover{
    background-color: var(--secundary-color);
    color: var(--extra-color);
    transition: color .1s ease, background-color .1s ease;
}

@media (max-width: 768px){
    .exercise-button button{
        font-size: .8em;
        line-height: 1em;
    }

    .exercise-statement{
        text-align: left;
    }

    .link-exercise{
        margin-right: 7px;
    }
    .exercise-creationDate{
        margin-right: 7px;
    }
    .exercise-info{
        padding: 20px;
    }
}